[submodule "third_party/piiat-mem"]
	path = third_party/piiat-mem
	url = https://github.com/Get-Sybers/PIIAT-Mem.git
[submodule "third_party/piiat-mitrecar"]
	path = third_party/piiat-mitrecar
	url = https://github.com/Get-Sybers/PIIAT-MitreCar.git
