### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
.code-workspace


# Cred files
*.pem
*.key
*.crt
*.License

# Junk
**.ZoneIdentifier
**:ZoneIdentifier
**_ZoneIdentifier
**.DS_Store
**.spl
**.tar.gz
**.zip