# ───────────────────────────────────────────────────────────
# Ignore dev `dev/*` recursively
dev/*

# ───────────────────────────────────────────────────────────
# Ignore app dev `etc/apps/*/dev/*` recursively
etc/apps/**/dev/*

# ───────────────────────────────────────────────────────────
# Ignore logs, runtime folders
etc/apps/**/logs/
etc/apps/**/tmp/
etc/apps/**/var/

# ───────────────────────────────────────────────────────────
# Ignore private/sensitive config types
etc/apps/**/local/passwords.conf
etc/apps/**/local/authentication.conf
etc/apps/**/local/server.conf
etc/apps/**/local/outputs.conf
etc/apps/**/local/web.conf
etc/apps/**/local/user-prefs.conf

# ───────────────────────────────────────────────────────────
# Ignore all of var recursively
var/**
!var/.gitkeep

# ───────────────────────────────────────────────────────────
# Ignore all of system/README recursively
system/README/*